body {
               margin: 0;
               padding: 0;
               background-color: white;
}

.arrow {
               z-index: 1;
               position: absolute;
               top: 20%;
               left: 34%;
               transform: translate(-50%, -50%);
               transform: rotate(180deg);
}

.arrow span {
               display: block;
               width: 150px;
               height: 150px;
               border-bottom: 5px solid #06a8ff;
               border-right: 5px solid #06a8ff;
               transform: rotate(45deg);
               margin: -10ox;
               animation: scroll 2s infinite;
}

.arrow span:nth-child(2) {
               animation-delay: -.2s;
}

.arrow spann:nth-child(3) {
               animation-delay: -.4s;
}

@keyframes scroll {
               0% {
                              opacity: 0;
                              transform: rotate(45deg) translate(-20px, -20px);
               }

               50% {
                              opacity: 1;
               }

               100% {
                              opacity: 0;
                              transform: rotate(45Sdeg) translate(20px, 20px);
               }
}

/* Variables */
:root {
               --colors-background-dark: #444;
               --colors-background-light: yellow;
               --colors-text-light: yellow;
               --colors-text-highlight: #456ebf;
               --colors-text-dark: #000;
               --fonts-normal-text: arial, verdana;
}

/* Small resets */
* {
               box-sizing: border-box;
}

html,
body,
form {
               padding: 0px;
               margin: 0px;
}

/* Main elements */
body {
               background-color: #ffffff;
}

.ImageHomepage {
               display: block;
               margin-left: auto;
               margin-right: auto;
               width: 50%;
               margin-top: 150px;
}

.Homebutton {
               width: 150px;
               font-size: 30px;
               text-align: center;
               border-radius: 10px;
               border: none;
               color: black;
               background-color: #FBC41A;
               box-shadow: #000;
               margin-top: 100px;
               transition: 0.3s;
}

.containerHomeButton {
               display: flex;
               align-items: center;
               justify-content: center;
}

.Homebutton:hover {
               background-color: #FBC41A;
               box-shadow: 0px 15px 20px black(46, 229, 157, 0.4);
               color: #fff;
               transform: translateY(-7px);
}

/* Buddy elements */

canvas {
               display: block;
               margin: 0px !important;
               width: 30% !important;
               height: 30% !important;
               position: absolute;
               top: 70%;
               left: 37%;

}

header h1 {
               text-align: center;
               font-family: 'Unbounded', cursive;
}